@model List<Product>

<h3> Our Products</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Qty</td>
                <td>@item.Price</td>
                <td><a asp-action="EditProduct" asp-controller="Product" asp-route-id="@item.ID" class="btn btn-secondary m-2">Update</a></td>
            </tr>
        }
    </tbody>
</table>

<h3>Categories By ViewData</h3>
<select>
    @foreach(var item in (List<string>)ViewData["Cate"])
    {
         <option>@item</option>
    }
</select>

<h3>Categories By ViewBag</h3>
<select>
    @foreach (var item in ViewBag.Categs)
    {
        <option>@item</option>
    }
</select>

<hr />

@*Html Helper*@
@Html.ActionLink("Create Product","AddProduct","Product",null,new{@class="btn btn-info m-2"})

@*Tag Helper*@
@*<a asp-action="EditProduct" asp-controller="Product"  class="btn btn-info m-2"> Update Product</a>*@

<hr />
<h1>Product Search Using AJAX</h1>
<input type="text" id="searchTerm" placeholder="Enter a product name" />
<button id="searchButton">Search</button>

<div id="searchResults"></div>

<script>
    $(document).ready(function () {
        $('#searchButton').click(function () {
            var searchTerm = $('#searchTerm').val();
            $.ajax({
                url: '@Url.Action("Search", "Product")',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (response) {
                    $('#searchResults').html(response);
                },
                error: function () {
                    alert('An error occurred while performing the search.');
                }
            });
        });
    });
</script>